.image_container img{width:370px}
.view_container{max-width:850px;margin:20px auto;background-color:#1c1c1c;padding:0;line-height:0;border:1px solid red}
.image_container,.content{width:50%;float:left}
.image_container img{max-width:100%}
.image_container{text-align:center}
.content1,.content2{background-color:#fff;padding:1em}
.content{line-height:1.231}
.content2{height:300px;overflow-y:scroll}
@media(min-width:1px) and (max-width:638px){.image_container,.content{width:auto;float:none;clear:both}
}#small-dialog{max-width:850px;margin:20px auto;background-color:#1c1c1c;padding:0;line-height:0;border:1px solid red}